---
title: Linear
layout: default
---

<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">
				{% include sidebar.html %}

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header>
							<h2>Lore Protocol White Paper</h2>
							<span class="byline">Lore Protocol White Paper</span>
						</header>
						<p>Lore is a knowledge community based on a protocol that maximizes the participation of network. It is designed to inspire the participants’ passion for knowledge by integrating conventional knowledge community with incentive mechanism design that is found in cryptocurrency. Members of Lore network enhances their capability to contribute to the entire network with self-derived insights in the process of knowledge sharing based on quality communication.

								Lore consists of network, protocol, session, and token. Network is a group of Lore participants who contribute to the mutual development of knowledge through communication. Protocol is a set of rules and incentive design derived from the consensus of network. Session is a study group that may operate on its own protocol and maintain close coordination with the network as a whole. Token is a tool that is utilized to incentivize the session or activity of network and is issued in accordance with the protocol.</p>
					</section>
				</div>

			</div>
		</div>
	</div>
<!-- /Main -->
